{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Members</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gym/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Members</h1>
        <ul>
            {% for member in members %}
                <li>{{ member.name }} - <a href="{% url 'member_update' member.pk %}">Edit</a> - <a href="{% url 'member_delete' member.pk %}">Delete</a></li>
            {% endfor %}
        </ul>
        <div class="button"><a href="{% url 'member_create' %}">Add Member</a></div>
        <div class="button"><a href="{% url 'dashboard' %}">Back to Dashboard</a></div>
    </div>
</body>
</html>
